<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head> 

<style type="text/css" >

</style>

</head>

<body>

<script language="JavaScript" type="text/JavaScript" >

    links = new Array("http://www.google.com.br",
                        "http://www.yahoo.com.br",
                        "http://www.uol.com.br",
                        "https://www.youtube.com/watch?v=Sagg08DrO5U",
                        "https://www.youtube.com/watch?v=uE-1RPDqJAY",
                        "https://www.youtube.com/watch?v=B4tKwsedol0",
                        "https://www.youtube.com/watch?v=c52XrWZlumE",
                        "https://www.youtube.com/watch?v=8oLZUVZs1ZQ",
                        "https://www.youtube.com/watch?v=tSUtPkJhvOU",
                        "https://www.youtube.com/watch?v=R6LzEbuI7e8",
                        "https://www.youtube.com/watch?v=1Mcdh2Vf2Xk",
                        "https://www.youtube.com/watch?v=E8y3eDUMb4Q",
                        "https://www.youtube.com/watch?v=AgpWX18dby4",
                        "https://www.youtube.com/watch?v=3UjuYtgMDIg",
                        "https://www.youtube.com/watch?v=kCPzPPhNYNs&feature=emb_title",
                        "https://www.youtube.com/watch?v=m2FjKnxye4E&feature=emb_title",
                        "https://www.youtube.com/watch?v=kxopViU98Xo&feature=emb_title",
                        "https://www.youtube.com/watch?v=wbby9coDRCk&feature=emb_title",
                        "https://www.youtube.com/watch?v=GPhTKYk4A6I&feature=emb_title",
                        "https://www.youtube.com/watch?v=B4LvDiIi128&list=PLm1dXeYW9ZzIhMmQCX9lsVNrEnV4bsH3n&index=5&t=12s",
                        "https://www.youtube.com/watch?v=eh7lp9umG2I&list=PLm1dXeYW9ZzIhMmQCX9lsVNrEnV4bsH3n&index=6",  
                        "https://www.youtube.com/watch?v=sAtXbHAnyyM&list=PLm1dXeYW9ZzIhMmQCX9lsVNrEnV4bsH3n&index=9",
                        "https://www.youtube.com/watch?v=L_LUpnjgPso",
                        "https://www.youtube.com/watch?v=UuWr5TCbumI",
                        "https://www.youtube.com/watch?v=-50NdPawLVY",
                        "https://www.youtube.com/watch?v=6H2FRxvsd2M",
                        "https://www.youtube.com/watch?v=jX6kn9_U8qk",
                        "https://www.youtube.com/watch?v=gfkts0u-m6w",
                        "https://www.youtube.com/watch?v=8plwv25NYRo",
                        "https://www.youtube.com/watch?v=Kxms-OtUXS0",
                        "https://www.youtube.com/watch?v=BhmRvUjJFh4",
                        "https://www.youtube.com/watch?v=D6B4xo6zYdk",
                        "https://www.youtube.com/watch?v=rulvcTfez5w",
                        "https://www.youtube.com/watch?v=1t8iu2PFWj4",
                        "https://www.youtube.com/watch?v=fx2Z5ZD_Rbo",
                        "https://www.youtube.com/watch?v=TRc85qoNo6w",
                        "https://www.youtube.com/watch?v=PaXTSFKQR3Y",
                        "https://www.youtube.com/watch?v=AKLxJFhJjX0",
                        "https://www.youtube.com/watch?v=_FvcP33Rypc",
                        "https://www.youtube.com/watch?v=9ou1pl0XNRs",
                        "https://www.youtube.com/watch?v=9t1GoL_GisM",
                        "https://www.youtube.com/watch?v=bcG0JN9Q0KQ",
                        "https://www.youtube.com/watch?v=xd72KnbQokc",
                        "https://www.youtube.com/watch?v=PzJIvYNFN6c",
                        "https://www.youtube.com/watch?v=Lxt0_YrQs0M",
                        "https://www.youtube.com/watch?v=xA8-6X8aR3o",
                        "https://www.youtube.com/watch?v=uJ6UVA1uUe0",
                        "https://www.youtube.com/watch?v=16G-Hv23nqw",
                        "https://www.youtube.com/watch?v=J3pF2jkQ4vc",
                        "https://www.youtube.com/watch?v=wnhvanMdx4s",
                        "https://www.youtube.com/watch?v=WbEGmghn_jo",
                        "https://www.youtube.com/watch?v=5bN6VNTXrIE",
                        "https://www.youtube.com/watch?v=V94b3JNb8AI",
                        "https://www.youtube.com/watch?v=pxZv-ys33Es",
                        "https://www.youtube.com/watch?v=IWaNs0NUNac",
                        "https://www.youtube.com/watch?v=mJ103ShA_Xc",
                        "https://www.youtube.com/watch?v=SikaZWsTqAM",
                        "https://www.youtube.com/watch?v=wSYoT_ptT00"
                        );

    tamanho = links.length;
    
    nRand = Math.floor((Math.random() * tamanho ));
     window.location.href = links[nRand];
</script>

</body>
</html>
